{{ define "main" }}

{{ if .Data.Singular }}
<h2>{{ .Title }}:</h2>
<p>
	<a href="{{ "/blog" | relURL }}">Back to posts</a>
</p>
{{ else }}
<h2>{{ .Title }}</h2>
{{ end }}

{{ .Content }}

<small>
	<p>Subscribe to the RSS feed for <i>this view</i> by <a href="index.xml">copying this link</a>.</p>
</small>

<ul>
	{{ range .Pages }}
	<li><i>
			<time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
				{{ .Date.Format "Jan 02, 2006" }}
			</time></i> –
	{{- if .OutputFormats.Get "html" }}
		<a href="{{ .Permalink }}">{{ .Title }}</a>
	</li>
	{{- else if .OutputFormats.Get "gemtext" }}
		{{ with .OutputFormats.Get "gemtext" }}
		<a href="{{ replace .Permalink "/gemini" "" 1 | safeURL }}">{{ end }}{{ .Title }}</a>
		<small>(<a href="https://earnestma.xyz/what-is-gemini" target="_blank">what is gemini://?</a>)</small>
	</li>
	{{ end }}
	{{ end }}
</ul>

{{ if .Data.Singular }}
{{else}}
<small>
	<div>
		Tags:
		{{ range .Site.Taxonomies.tags }}
		<a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>&nbsp;
		{{ end }}
	</div>
</small>
{{ end }}

{{ end }}
