<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }} ─ {{ $.Site.Title }}{{ end }}</title>
{{ partial "head-favicon.html" . -}}
<meta name="title" content="{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}" />
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta name="keywords" content="{{ if .IsPage}}{{ range $index, $tag := .Params.tags }}{{ $tag }},{{ end }}{{ else }}{{ range $plural, $terms := .Site.Taxonomies }}{{ range $term, $val := $terms }}{{ printf "%s," $term }}{{ end }}{{ end }}{{ end }}" />
{{ if $.Params.noindex }}
<meta name="robots" content="noindex">
{{ end }}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/blog/index.xml">
<meta name="referrer" content="no-referrer-when-downgrade" />
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/schema.html" . }}
{{ template "_internal/twitter_cards.html" . }}
